.catchphrase {
    position : absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: black;
    font-family: Arial;
    font-weight: bolder;
    text-align: center;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.joinButton {
    position: absolute;
    display: block;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 50px;
    margin: 0px;
}

.loginButton {
    position: absolute;
    display: block;
    right : 1%;
    top: 5%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 25px;
    margin: 0px;
}

.logo {
    position: absolute;
    display: block;
    left: 8%;
    top: 5%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: black;
    font-family: Arial;
    text-align: center;
    margin: 0px;
}

.lookHomepage {
    position: absolute;
    display: block;
    right: 4%;
    bottom: 5%;
    transform: translate(0%,-50%);
    background-color: white;
    color: black;
    font-family: Arial;
    text-align: center;
    margin: 0px;
}