.catchphrase {
    position : absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: black;
    font-family: Arial;
    text-align: center;
}

.background {
    background-color: black;
}

.joinButton {
    position: absolute;
    display: block;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: black;
    font-family: Arial;
    text-align: center;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
}