.title{
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: 10px auto;
    color: #676767;
    font-size: 20px;
    font-weight: bold;
}

.createAccount{
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: auto;
    color: black;
    font-size: 20px;
    font-weight: bold;
    caret-color: transparent;

}

.googleLoginButton {
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: 25px auto;
    font-weight: bold;
    caret-color: transparent;

}

.appleLoginButton {
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: 25px auto;
    font-weight: bold;
    caret-color: transparent;

}

.kakaoLoginButton {
    position: relative !important;
    display: block !important;
    width: 300px !important;
    height: 35px !important;
    margin: 25px auto !important;
    font-weight: bold !important;
    background-color: #d9d9d9 !important;
    border: none !important;
    color: black !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 12px !important;
    border-radius: 100px !important;
    padding: 0px !important;
    line-height: 0px !important;
    caret-color: transparent !important;

}

.emailLoginButton {
    position: relative;
    display: block;
    width: 300px;
    height: 35px;
    margin: 25px auto;
    font-weight: bold;
    caret-color: transparent;

}

.termsOfService {
    position: relative;
    display: inline-block;
    width: 265px;
    height: 35px;
    margin: 20px auto;
    font-size: 9px;

}
