@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/PretendardVariable.ttf') format('woff');
}

@font-face {
    font-family: 'ogg';
    src: url('../fonts/Ogg-Roman.otf') format('woff');
}

.bodyPart{
}



.profileBanner {
    height: 200px;
    background-color: #CCCCCC;
}

.profileBanner > .profilePic{
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.profileBanner > .profilePic > img{
    display: flex;
    margin: 22px auto;
    text-align: center;

    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profileLetter{
    position: relative;
    margin: -88px auto;
    text-align: center;
    font-family: "Pretendard ExtraBold";
    font-size: 35px;
}

.profileName{
    position: relative;
    margin:135px auto;
    text-align: center;
    font-family: "Pretendard ExtraBold";
    font-size: 20px;
}

.profileNickname{
    position: relative;
    margin:-130px auto;
    text-align: center;
    color: #868686;
    font-family: "Pretendard SemiBold";
    font-size: 15px;
}

.followers{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-family: 'Pretendard SemiBold';

}

/**********************************************************
**********************************************************
 */



/*/////////////////////////////////////////////////*/
.grid-image{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:30px 100px 0 100px ;
}

.wishWrapper{
    width:calc(24% - 20px);
    margin:0 33px 30px 0px;

}

.wishlist{
    width:calc(100%);
    display: flex;
    margin:0 30px 0px 0px;
    font-size:0; /* 여백 없애는 용도 */
}

.mainImage > img{
    width:calc(100%);
    height: 203px;
    object-fit: cover;
    margin:0 0px 15px 0px;
    border-radius: 10px;
}

.subImage> img{
    width:calc(100%);
    height: 100px;
    object-fit: cover;
    margin:0 5px 3px 3px;
    border-radius: 10px;
}

.wishlistText{
    margin : 0;
    font-family: "Pretendard ExtraBold";
}

.likesComments{
    display:flex;
    font-family: "Pretendard Light";

}

.grid-image > .wishlist > img:nth-of-type(4n),
.grid-image > .wishlist > img:last-child {
    margin-right:0;
}

@media screen and (max-width:640px){
    .grid-image > .wishlist {
        width:calc(50% - 15px);
    }
}

@media screen and (max-width:480px) {
    .grid-image  > .wishlist > img:nth-of-type(2n) {
        margin-right: 0;
    }

    .grid-image  > .wishlist > img:nth-of-type(4n) {
        margin-right: 0;
    }
}


